<?xml version="1.0"?>
<config>
	<modules>
		<Test_Student>
			<version>0.1.0</version>
		</Test_Student>
	</modules>
	<frontend>
		<routers>
			<student>
				<use>standard</use>
				<args>
					<module>Test_Student</module>
					<frontName>student</frontName>
				</args>
			</student>
		</routers>
		<layout>
			<updates>
				<student>
					<file>student.xml</file>
				</student>	
			</updates>
		</layout>
	</frontend>
	<global>
		<blocks>
			<student>
				<class>Test_Student_Block</class>
			</student>
		</blocks>
		<helpers>
			<student>
				<class>Test_Student_Helper</class>
			</student>
		</helpers>
		<models>
			<test_student>
				<class>Test_Student_Model</class>
				<resourceModel>test_student_resource</resourceModel>
			</test_student>
			<test_student_resource>
				<class>Test_Student_Model_Resource</class>
				<entities>
                    <student_entity>
                        <table>test_student_student_entity</table>
                    </student_entity>
                    <student_entity_datetime>
                        <table>test_student_student_entity_datetime</table>
                    </student_entity_datetime>
                    <student_entity_decimal>
                        <table>test_student_student_entity_decimal</table>
                    </student_entity_decimal>
                    <student_entity_int>
                        <table>test_student_student_entity_int</table>
                    </student_entity_int>
                    <student_entity_text>
                        <table>test_student_student_entity_text</table>
                    </student_entity_text>
                    <student_entity_varchar>
                        <table>test_student_student_entity_varchar</table>
                    </student_entity_varchar>
                    <student_entity_char>
                        <table>test_student_student_entity_char</table>
                    </student_entity_char>
                </entities>
			</test_student_resource>
		</models>
		<resources>
        	<test_student_setup>
                <setup>
                    <module>Test_Student</module>
                    <class>Test_Student_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </test_student_setup>
            <student_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </student_write>
            <student_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </student_read>
        </resources>
	</global>
</config>